body {
	margin: 0;
	background-image: url('images/dark.png');
}

#menubar-wrapper {
	position: fixed;
	padding-top: 10px;
	margin-bottom: 50px;
    font-size: 17px;
    font-family: Helvetica, sans-serif;
	position: relative;
    text-align: center;
    background-color: #024c7c;
    height: 75px;
    border-bottom: 5px solid #009afe;
}

h1 {
	padding-left: 3em;
	padding-bottom: 0;
	margin-bottom: 0;
	display: inline;
	float: left;
	color: white;
}

#menubar-wrapper ul {
	margin-top: 32px;
	right: 0;
	float: right;
}
#menubar-wrapper li {
	display: inline;
	padding: 0 3em 0 0;
}


a {
	text-decoration: none;
	color: white;

}

#contactme {
	color: black;
	text-decoration: underline;
}

a:hover {
	color: #3B8CFF;
}

#contactme:hover {
	color: #3B8CFF;
}


p {
	text-align: left;
	padding-top: 20px;
	max-width: 800px;
	color: black;
	font-size: 1.5em;
	line-height: 1.25em;
	display: block;
	margin: 0 auto;
	font-family: "Helvetica", sans-serif;


}




img {
	padding: 0 0;
	border: 4px solid white;
    border-radius: 100%;
    width: 300px;
    height: 300px;
}
img.centered {
    display: block;
    margin: 0 auto;
}
 
